{% extends 'base.html.twig' %}

{% block title %}My Data{% endblock %}

{% block body %}
    {{ include('user/userEditForm.html.twig', { 'form': userDataForm}) }}
    <div style="color: black">
        {{ include('security/resetPasswordForm.html.twig', { 'form': passwordForm}) }}
    </div>

{% endblock %}
